In [322]:
# import depends
import os 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import csv
import seaborn

In [323]:
# set csv paths 
city_data = "raw_data/city_data.csv"
ride_data = "raw_data/ride_data.csv"

In [324]:
# read city data 
city_pd = pd.read_csv(city_data, low_memory=False)

In [325]:
# rename and format columns in city data
city_data_form = city_pd.rename(columns={"city":"City", "driver_count": "Driver Count", 
                                                   "type":"Type"})
city_data_form.head()

             City  Driver Count   Type
0      Kelseyland            63  Urban
1      Nguyenbury             8  Urban
2    East Douglas            12  Urban
3   West Dawnfurt            34  Urban
4  Rodriguezburgh            52  Urban

In [326]:
# read ride data
ride_pd = pd.read_csv(ride_data, low_memory=False)

In [327]:
# rename and format columns in city data
ride_data_form = ride_pd.rename(columns={"city":"City", "date": "Date", 
                                         "fare":"Fare", "ride_id": "Ride ID"})
ride_data_form.head()

          City                 Date   Fare        Ride ID
0     Sarabury  2016-01-16 13:49:27  38.35  5403689035038
1    South Roy  2016-01-02 18:42:34  17.49  4036272335942
2  Wiseborough  2016-01-21 17:35:29  44.18  3645042422587
3  Spencertown  2016-07-31 14:53:22   6.87  2242596575892
4   Nguyenbury  2016-07-09 04:42:44   6.28  1543057793673

In [387]:
pyber_pd = pd.merge(city_data_form, ride_data_form, on="City", how="outer")
pyber_pd.head()

         City  Driver Count   Type                 Date   Fare        Ride ID
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
3  Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
4  Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829

In [399]:
# City Type (Urban, Suburban, Rural)

pyber_pd = pyber_merge.set_index("City", "Type")
pyber_pd.head()

            Driver Count   Type                 Date   Fare        Ride ID
City
Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736
Kelseyland            63  Urban  2016-01-25 20:44:56  12.08  1896987891309
Kelseyland            63  Urban  2016-08-09 18:19:47  17.91  8784212854829

In [400]:
# Average Fare ($) Per City

avg_fare_per_city = pyber_pd.groupby(["City"]).mean()["Fare"]
avg_fare_per_city.head()

City
Alvarezhaven    23.928710
Alyssaberg      20.609615
Anitamouth      37.315556
Antoniomouth    23.625000
Aprilchester    21.981579
Name: Fare, dtype: float64

In [401]:
# Total Number of Rides Per City

total_rides_per_city = pyber_pd.groupby(["City"]).count()["Fare"]
total_rides_per_city.head()

City
Alvarezhaven    31
Alyssaberg      26
Anitamouth       9
Antoniomouth    22
Aprilchester    19
Name: Fare, dtype: int64

In [402]:
# Total Number of Drivers Per City

total_drivers_per_city = pyber_pd.groupby(["City"]).sum()["Driver Count"]
total_drivers_per_city.head()

City
Alvarezhaven     651
Alyssaberg      1742
Anitamouth       144
Antoniomouth     462
Aprilchester     931
Name: Driver Count, dtype: int64

In [407]:
city_type = pyber_pd["Type"]
city_type.head()

City
Kelseyland    Urban
Kelseyland    Urban
Kelseyland    Urban
Kelseyland    Urban
Kelseyland    Urban
Name: Type, dtype: object

In [406]:
# Bubble Plot 
# * Average Fare ($) Per City
# * Total Number of Rides Per City
# * Total Number of Drivers Per City
# * City Type (Urban, Suburban, Rural)

bubble_summary_df = pd.DataFrame({"Average Fare ($) per city": avg_fare_per_city,
                                  "City Type": city_type,
                                  "Total Number of Rides per city": total_rides_per_city,
                                  "Total Number of Drivers per city": total_drivers_per_city})
bubble_summary_df.head()

ValueError: cannot reindex from a duplicate axis